<section class="feed-container">
  <div class="feed-content-header">
    <app-header></app-header>
  </div>

  <div class="feed-container-title-btn-logout">
    <h2>Olá, Mestre Supremo!</h2>
    <button 
      class="feed-btn-logout"
      (click)="logout()"> <!-- Chama o método logout -->
      Logout
      <img 
        src="../../../assets/icons/logout-icon.png" 
        alt="" 
        class="feed-btn-logout-icon"
      >
    </button>
  </div>

  <!-- Exibindo os cards de gatinhos -->
  <div class="feed-container-cards">
    <div *ngFor="let card of cards">
      <app-card 
        [imageSrc]="card.imageUrl" 
        [title]="card.title" 
        [description]="card.description"
        [cardId]="card.cardId"

        (onDeleteCard)="setCards()"        
        >
      </app-card>
    </div>
  </div>

  <!-- Botão flutuante de navegação para /new-post -->
  <app-button-add (openModal)="openModal()"></app-button-add>

  <!-- Modal para criar nova publicação -->
  <app-upload-modal *ngIf="isModalOpen" (closeModal)="closeModal()"></app-upload-modal>
</section>
