
/* Animação para o modal crescer do centro */
@keyframes growFromCenter {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

/*Animação do botão para fechar o modal*/
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


/* Fundo do modal */
.modal-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}
  
/* Container do modal */
.upload-modal {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px to rem */
    background-color: #fff;
    padding: 1.25rem; /* 20px to rem */
    border-radius: 0.5rem; /* 8px to rem */
    width: 50rem;
    height: 25rem;
    animation: growFromCenter 0.5s ease-out forwards;
}

/* Botão de fechar */
.close-modal-btn {
    display: flex; /* Para centralizar o conteúdo se houver */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    position: absolute;
    top: 3%; /* 10px to rem */
    right: 3%; /* 10px to rem */
    border: none;
    background: transparent;
    font-size: 2rem;
    color: #242424;
    cursor: pointer;
    animation: pulse 1s infinite; /* Aplica a animação pulse */
}
  
/* Conteúdo principal: divisão esquerda e direita */
.modal-content {
    display: flex;
    gap: 1.25rem; /* 20px to rem */
}
  
/* Parte esquerda: preview da imagem */
.image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 19rem;
    background-color: #f2f2f2;
    border-radius: 0.5rem; /* 8px to rem */
}
  
.image-preview img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
  
/* Parte direita: campos de entrada */
.upload-fields {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; /* 10px to rem */
    flex: 1;
}

.upload-fields-inputs-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.upload-fields-btns-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
  
.upload-input,
.upload-textarea {
    width: 100%;
    padding: 0.625rem; /* 10px to rem */
    border: 1px solid #ddd;
    border-radius: 0.25rem; /* 4px to rem */
    font-family: monospace, sans-serif;
    outline: none;
}
  
.select-file-btn,
.share-btn {
    padding: 0.625rem; /* 10px to rem */
    border: none;
    border-radius: 0.25rem; /* 4px to rem */
    background-color: #fe854f;
    font-family: monospace, sans-serif;
    color: #fff;
    cursor: pointer;
}
  
.select-file-btn:hover,
.share-btn:hover {
    background-color: #e26d36;
}


@media screen and (max-width: 800px) {
    .upload-modal {
        justify-content: space-between;
        width: 90%;
        height: 38rem;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .image-preview {
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .image-preview img {
        object-fit: cover;
        width: 100%;
        height: 19rem;
        border-radius: 0.5rem;
    }

    .upload-fields {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
  

