/* Estilização para o botão flutuante */

.floating-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3rem;
    right: 5%;
    width: 8rem;
    background-color: #edbea4;
    border: none;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
    transition: all ease 0.5s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
  }
  
  .floating-button img {
    width: 100%;
    height: auto;
  }
  
  .floating-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais forte ao hover */
  }
  
  @media screen and (max-width: 800px) {
    .floating-button {
      margin: 0 .5rem 1rem 0;
      width: 6rem;
    }
  }
  