.form-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 14rem;
}

.form-content {
    display: flex;
    flex-direction: column;
    padding: 0 0 .8rem 0;
}

.form-label {
    font-size: .9rem;
}

.form-input {
    padding: .8rem 0 .2rem 0;
    border: none;
    border-bottom: .1rem solid #edbea4;
    outline: none;
}

.form-input:focus {
    transition: all ease .3s;
    border-bottom: 2px solid #e26d36;
}

.submit-button {
    margin: 1rem 0 0 0;
    padding: .8rem;
    border: .1rem solid #e26d36;
    border-radius: .5rem;
    font-size: .95rem;
    font-weight: 500;
    color: #e26d36;
    cursor: pointer;
    transition: all ease .5s;
}

.submit-button:hover {
    background-color: #e26d36;
    color: #e7f0f1;
}